<% if session[:user] %>
* user is logged in * 
<% end %>

<h1>User#login</h1>

<% if flash[:notice] %>
<div>
<%= flash[:notice] %>
</div>
<% end %>

<%= form_tag :action=>'authenticate'%>
User Email: <%=text_field("userform", "email", :size=>"40")%> <br/>
Password: <%=password_field("userform", "password", :size=>"40")%>
<input type = "submit" value="Log in.">

