<h1>User#register</h1>
<p>Find me in app/views/user/register.html.erb</p>

<p>You don't have a user yet - would you like to set one up?</p>

<% if flash[:notice] %>
<div>
<%= flash[:notice] %>
</div>
<% end %>


<%= form_tag :action=>'createnew'%>
Your email address: <%=text_field("userform", "email", :size=>"40")%> <br/>
Your Name: <%=text_field("userform", "name", :size=>"60")%> <br/>
Your password: <%=password_field("userform", "password", :size=>"40")%> <br/>


<input type = "submit" value="Register a new user">
