<% if session[:user] %>
<%=session[:user].name %> | <%= link_to 'logout', :controller=>"user", :action=>"logout" %> | 
<% else %>
* user is NOT logged in * | <%= link_to 'login', :controller=>"user", :action=>"login" %> |
* <% end %>

<h1>Testing Heroku blog</h1>

<% @posts.each do |post| %>
    <hr/>
    <h2><%=h post.title %></h2>
    <P><%=h post.body %></P>
    <P><strong>posted by: </strong><%=h post.By %></P>
    <P><%= link_to 'Show', post %> | 
    <%= link_to 'Edit', edit_post_path(post) %> | 
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></P>
<% end %>
<br />

<%= link_to 'New post', new_post_path %>